In [1]:
import pandas as pd

In [2]:
## Cargamos el csv

ruta_del_archivo = "./data/global_food_wastage_dataset.csv" 

# Cargar el archivo CSV en un DataFrame de Pandas
df = pd.read_csv(ruta_del_archivo)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    5000 non-null   object
 1   Year                       5000 non-null   int64
 2   Food Category              5000 non-null   object
 3   Total Waste (Tons)         5000 non-null   float64
 4   Economic Loss (Million $)  5000 non-null   float64
 5   Avg Waste per Capita (Kg)  5000 non-null   float64
 6   Population (Million)       5000 non-null   float64
 7   Household Waste (%)        5000 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 312.6+ KB


Country: Pais
Year: Año
Food Categoria: distinto tipo de comidas
Total Waste(Tons): desperdicio en toneladas
Economic Loss($): perdida economica
Avg Waste per Capita(kg): residuos generados por persona
Population (Million): población
Household Waste (%): residuos domestticos

In [4]:
df.head()

,Country,Year,Food Category,Total Waste (Tons),Economic Loss (Million $),Avg Waste per Capita (Kg),Population (Million),Household Waste (%)
0,Australia,2019,Fruits & Vegetables,19268.63,18686.68,72.69,87.59,53.64
1,Indonesia,2019,Prepared Food,3916.97,4394.48,192.52,1153.99,30.61
2,Germany,2022,Dairy Products,9700.16,8909.16,166.94,1006.11,48.08
3,France,2023,Fruits & Vegetables,46299.69,40551.22,120.19,953.05,31.91
4,France,2023,Beverages,33096.57,36980.82,104.74,1105.47,36.06

In [6]:
Food_Category = df["Food Category"].unique()
Food_Category

array(['Fruits & Vegetables', 'Prepared Food', 'Dairy Products',
       'Beverages', 'Meat & Seafood', 'Grains & Cereals', 'Frozen Food',
       'Bakery Items'], dtype=object)

Fruits & Vegetables: Frutas y Verduras
Prepared Food: Comida Preparada
Dairy Products: Productos Lácteos
Beverages: Bebidas
Meat & Seafood: Carne y Mariscos
Grains & Cereals: Granos y Cereales
Frozen Food: Comida Congelada
Bakery Items: Artículos de Panadería

In [19]:
unique_countries_list = df['Country'].unique()
unique_countries_list

array(['Australia', 'Indonesia', 'Germany', 'France', 'India', 'China',
       'UK', 'South Africa', 'Japan', 'USA', 'Brazil', 'Saudi Arabia',
       'Italy', 'Spain', 'Mexico', 'Argentina', 'Canada', 'South Korea',
       'Russia', 'Turkey'], dtype=object)

In [16]:
unique_countries_num = df['Country'].nunique()
unique_countries_num

20